<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <true/>
    <key>Label</key>
    <string>com.stepbrobd.karabiner</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/open</string>
      <string>-a</string>
      <string>/Users/StepBroBD/Applications/Home Manager Apps/Karabiner-Elements.app</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/StepBroBD/.cache/karabiner/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/StepBroBD/.cache/karabiner/stderr.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>LaunchOnlyOnce</key>
    <true/>
  </dict>
</plist>
