name: "Bump"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  Bump:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
      - name: "Install Nix"
        uses: "cachix/install-nix-action@v31"
        with:
          nix_path: "nixpkgs=https://github.com/nixos/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz"
          extra_nix_config: |
            trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://cache.garnix.io https://cache.nixos.org/
      - name: "Bump"
        uses: "gepbird/nix-update-action@v2"
        with:
          pr-reviewers: stepbrobd
          packages: "check-if-email-exists,migrate-matrix,nu_plugin_dns,verus"
          blacklist: "alacritty,caddy,doom,hydra,jitsi-meet,mac-app-util,neovide,nixvim,pixelmplus,ripe-atlas-software-probe,san-francisco,spotify,stepbrobd,treesitter-coq-grammar"
